.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color: white;

}
.cont{
        display:  flex;
    align-items:  center;
    width: 98%;
    background-color: white;
    gap: 5px;
    padding: 2%;
    height: 76vh;
}
.left{
    display:  flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    background-color: #EEF2F6;
    height: 100%;
    padding: .7vw;
    gap: 10px;
    border: 1px solid black;
    border-radius: 7px;
}

.right{
    display: flex;
    width: 85vw;
    height: 100%;
    gap: 2vw;
    padding: .7vw;
}
.data{
    width: 78%;
    background-color: #F5F8FF ;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 7px;
    overflow-x: hidden;
    padding: 5px;
    gap: 5px;
    height: 100%;
    overflow-y: scroll;
    
}
.detail{
    width: 20%;
    background-color: #EEF2F6;
    border: 1px solid black;
    border-radius: 7px;
    height: 50%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    
}
.data .heading{
    width: 99%;
    display: flex;
    padding: 5px;
    border: 1px solid black;
    border-radius: 2px;
    justify-content: space-around;
    align-items: center;
    background-color: #4f64ac;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.heading span{
    background-color: #4f64ac;
    color: white;
}
.data ul li{
    width: 98%;
    background-color: #F9FAFB;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-radius: 4px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid black;
    
}
.data ul{
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.head > span{
    font-size: large;
    padding: 2px;
}
a{
    text-decoration: none;
    font-size: large;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    background-color: #EEF2F6;
}
.sepration{
    height: 1px;
    width: 100%;
    background-color: black;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    height: 10%;
 
    
}
.head .status{
    border-radius: 5px;
    background-color: aliceblue;
    padding: 2px;
    font-size: large;
    text-align: center;
    color: green;
}
.detail ul li{
    list-style: none;
    display: flex;
    width: 100%; 
    align-items: center;
    justify-content: space-around;
}
.detail ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
   overflow: hidden;
    padding: 5px;
}
.detail ul li span {
    width: 50%;
}
.detail h2{
    background-color: #EEF2F6;
}