.adDetailsContainer {
  display: flex;
  gap: 40px;
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.12);
  max-width: 1200px;
  margin: auto;
}

/* IMAGE SECTION */
.imageSection {
  flex: 1.2;
}


.thumbnailRow {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.thumb {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s ease;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.thumb:hover {
  transform: scale(1.05);
}

/* DETAILS SECTION */
.detailsSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.adTitle {
  font-size: 28px;
  font-weight: 600;
}

.adPrice {
  font-size: 26px;
  color: #0f62fe;
  font-weight: 600;
}

.adDescription {
  font-size: 15px;
  line-height: 1.6;
  color: #333;
  background: #f7f9fc;
  padding: 15px;
  border-radius: 12px;
}

.sellerInfo {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

.sellerImg {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.chatBtn {
  margin-top: 20px;
  padding: 14px 18px;
  font-size: 16px;
  border: none;
  background: #0f62fe;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
}

.chatBtn:hover {
  background: #0047c3;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .adDetailsContainer {
    flex-direction: column;
  }

  .thumbnailRow {
    justify-content: center;
  }
}
